{% extends "base.html" %}
{% block title %}Credits{% endblock %}
{% block content %}
<a href="/" class="persistantTitle"><h1>RxR Chemical Assistant</h1></a>
<h1>Resources that I borrowed</h1>
<ul>
    <li>Periodic Table Data: <a href="https://github.com/Bowserinator/Periodic-Table-JSON",target="_blank">https://github.com/Bowserinator/Periodic-Table-JSON</a></li>
    <li>Fork Me On GitHub code: <a href="https://gist.github.com/tomdeboer/5463527",target="_blank">https://gist.github.com/tomdeboer/5463527</a></li>
</ul>

{% endblock %}